# Compiled class file
lab3/*.class

# Log file
lab3/*.log

# BlueJ files
lab3/*.ctxt

# Mobile Tools for Java (J2ME)
lab3/.mtj.tmp/

# Package Files #
lab3/*.jar
lab3/*.war
lab3/*.nar
lab3/*.ear
lab3/*.zip
lab3/*.tar.gz
lab3/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
lab3/hs_err_pid*
